<div id="<%= dom_id invitation %>">
  <p>
    <strong>Company:</strong>
    <%= invitation.company_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= invitation.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invitation.status %>
  </p>

  <p>
    <strong>Invited at:</strong>
    <%= invitation.invited_at %>
  </p>

</div>
