<%= form_with(url: @administrator.new_record? ? administrations_path : administration_path(@administrator), method: @administrator.new_record? ? :post : :patch) do |form| %>  
  <% if administrator.errors.any? %>
    <div style="color: red">
      <ul>
        <% administrator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label I18n.t("views.admin.form.fields.email"), style: "display: block" %>
    <%= form.text_field :email, value: administrator.email %>
  </div>

  <div class="field">
    <%= form.label I18n.t("views.admin.form.fields.password"), style: "display: block" %>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div>
    <%= form.submit I18n.t("views.common.submit") %>
  </div>
<% end %>
